@model Product

<h1>Détails du produit</h1>

<ul class="list-group">
    <li class="list-group-item"><strong>Nom :</strong> @Model.Name</li>
    <li class="list-group-item"><strong>Prix :</strong> @Model.Price €</li>
    <li class="list-group-item"><strong>Stock :</strong> @Model.Stock</li>
    <li class="list-group-item"><strong>En promotion :</strong> @Model.IsOnDiscount</li>
</ul>

<a class="btn btn-secondary mt-3" href="/Product">Retour</a>
