<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorDemo.Client</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
            <NavLink class="nav-link" href="demos/demo1-helloword" Match="NavLinkMatch.All">
                <span><i class="bi bi-1-square-fill" style="font-size: 1.25rem; margin-top: .135rem;"></i></span> Bases
            </NavLink>
            <NavLink class="nav-link" href="demos/demo2-binding" Match="NavLinkMatch.All">
                <span><i class="bi bi-2-square-fill" style="font-size: 1.25rem; margin-top: .135rem;"></i></span> Binding
            </NavLink>
            <NavLink class="nav-link" href="/demos/demo3-structures" Match="NavLinkMatch.All">
                <span><i class="bi bi-3-square-fill" style="font-size: 1.25rem; margin-top: .135rem;"></i></span> Structures
            </NavLink>
            <NavLink class="nav-link" href="demos/demo4-components" Match="NavLinkMatch.All">
                <span><i class="bi bi-4-square-fill" style="font-size: 1.25rem; margin-top: .135rem;"></i></span> Components
            </NavLink>

            <NavLink class="nav-link" href="demo5-formulaires" Match="NavLinkMatch.All">
                <span><i class="bi bi-5-square-fill" style="font-size: 1.25rem; margin-top: .135rem;"></i></span> Formulaire
            </NavLink>

            <NavLink class="nav-link" href="demo-routing" Match="NavLinkMatch.All">
                <span><i class="bi bi-6-square-fill" style="font-size: 1.25rem; margin-top: .135rem;"></i></span> Routing
            </NavLink>

            <NavLink class="nav-link" href="service" Match="NavLinkMatch.All">
                <span><i class="bi bi-7-square-fill" style="font-size: 1.25rem; margin-top: .135rem;"></i></span> Services 2
            </NavLink>

            <NavLink class="nav-link" href="crud" Match="NavLinkMatch.All">
                <span><i class="bi bi-8-square-fill" style="font-size: 1.25rem; margin-top: .135rem;"></i></span> CRUD
            </NavLink>
        </div>
       
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
